---
import Icon from "./Icons.astro";

const features = [
    {
        icon: "CircleCheck",
        title: "Rasa Konsisten",
        desc: "Setiap sajian dijaga kualitasnya agar cita rasa selalu sama.",
    },
    {
        icon: "Sparkles",
        title: "Harga Terjangkau",
        desc: "Harga bersahabat untuk semua kalangan tanpa mengorbankan kualitas.",
    },
    {
        icon: "ChefHat",
        title: "Bahan Segar Setiap Hari",
        desc: "Bahan pilihan diproses segar setiap hari untuk menjaga kesehatan.",
    },
    {
        icon: "Truck",
        title: "Pelayanan Cepat & Ramah",
        desc: "Siap melayani pelanggan dengan senyum dan kecepatan prima.",
    },
];
---

<section class="bg-white py-20 lg:py-28">
    <div
        class="max-w-7xl mx-auto px-6 lg:px-8 flex flex-col items-center justify-center gap-3"
    >
        <div>
            <h2 class="font-bold uppercase text-primary">Keunggulan Kami</h2>
        </div>
        <div class="text-center mb-14">
            <h2
                class="text-3xl sm:text-4xl font-extrabold text-ink"
                style="font-family: var(--font-heading)"
            >
                Kenapa Memilih <span class="text-primary">MIRO</span>?
            </h2>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 md:gap-8">
            {
                features.map((f) => (
                    <div class="group bg-primary/10 rounded-3xl py-10 px-8 flex flex-col gap-3">
                        <div class="flex w-fit">
                            <div class="w-10 h-10 rounded-xl flex items-center justify-center mx-auto bg-primary transition-colors">
                                <Icon
                                    name={f.icon}
                                    class="text-white transition-colors"
                                    size={20}
                                />
                            </div>
                        </div>

                        <div class="flex flex-col items-start gap-3">
                            <h3 class="font-bold">{f.title}</h3>
                            <p class="text-gray-500">{f.desc}</p>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</section>
